.interfaces-table {
  .pf-c-table__expandable-row {
    border: none;

    & > td {
      padding: var(--pf-global--spacer--md);
    }
  }

  tbody > tr > :first-child::after {
    content: none;
  }

  tbody .interfaces-table__interface-type-row {
    border-bottom: none;

    &:not(:first-child) td {
      padding-top: var(--pf-global--spacer--sm);
    }

    &:not(:last-child) td {
      padding-bottom: var(--pf-global--spacer--sm);
    }

    .expandable-section-interface-type .pf-c-expandable-section__toggle-text {
      font-weight: bold;
      color: var(--pf-global--Color--300);
    }
  }


  tbody .interfaces-table__interfaces-expandable-row {

    &:not(:first-child) td {
      padding-top: var(--pf-global--spacer--sm);
    }

    &:not(:last-child) td {
      padding-bottom: var(--pf-global--spacer--sm);
    }
    
  }
}
